.button.button_reverse {
  color: var(--sub-text);
  background-color: var(--main-text);
  border-color: var(--main-text);
}

.button.button_icon {
  width: fit-content;
  height: fit-content;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button.button_rounded {
  border-radius: 100%;
}
